[Unit]
Description=set external monitor as discrete on X.org server boot
After=graphical.target

[Service]
User=root
Type=forking
ExecStart=/usr/bin/xuserrun /usr/bin/discretemon

[Install]
WantedBy=graphical.target
