# reserved backup directories ignore
_vault
# local use configuration
root-directory-cruft
# package and source directories
*/pkg
*/src
# packages and package source files
*/*.src.tar.gz
*/*.pkg.tar.xz

