[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Logitech G9 Mouse LED Random Color Changer
Comment=Change G9 mouse color as specific intervals
Exec=/home/todd/.scripts/others/g9led-random-color
Icon=mouse
StartupNotify=false
Terminal=false
Hidden=false
X-GNOME-Autostart-enabled=true
